/*高度*/
.header_height {
    height: 6rem;
}

.height_45 {
    height: 4.5rem !important;
}


.bg_red_color {
    background: rgb(166, 20, 3);
}

.close_bg_color {
    color: rgb(252, 72, 71);
}

.to_small_bg_color {
    color: rgb(253, 176, 36);
}

.to_large_bg_color {
    color: rgb(41, 196, 50);
}

.border_btn_left{
    padding: .25rem;
    border: 1px solid rgb(182,25,9);
    border-radius: 0 .1rem 0 .1rem;
    background-color: rgb(182,12,37);
}
.border_btn_right{
    padding: .25rem;
    border: 1px solid rgb(182,25,9);
    border-radius: .1rem 0 .1rem 0;
    background-color: rgb(182,12,37);
}
.box_shadow{
    box-shadow:2px 2px 3px rgba(0,0,0,.1);
}