@import "../node_modules/normalize.css/normalize.css";

html,body{
  font-size: 62.5%;
  margin: 0;
  font-family: svgFont;
}
@font-face {
  font-family: 'svgFont';
  src: url('asseat/font/iconfont.ttf');/*IE*/
  src:url('asseat/font/iconfont.ttf'), url('asseat/font/iconfont.ttf');/*non-IE*/
}
ul li{
  list-style: none;
}
.App {
  /*text-align: center;*/
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
