
/*边距 top*/
.margin_top_25rem{
    margin-top: .25rem;
}
.margin_top_150rem{
    margin-top: .5rem;
}
.margin_top_175rem{
    margin-top: .75rem;
}
.margin_top_100rem{
    margin-top: 1rem;
}
.margin_top_125rem{
    margin-top: 1.25rem;
}
.margin_top_150rem{
    margin-top: 1.5rem;
}
.margin_top_175rem{
    margin-top: 1.75rem;
}
.margin_top_200rem{
    margin-top: 2rem;
}
.margin_top_225rem{
    margin-top: 2.25rem;
}
.margin_top_250rem{
    margin-top: 2.5rem;
}
.margin_top_275rem{
    margin-top: 2.75rem;
}
.margin_top_300rem{
    margin-top: 3rem;
}
/*边距 left*/
.margin_left_25rem{
    margin-left: .25rem;
}
.margin_left_150rem{
    margin-left: .5rem;
}
.margin_left_175rem{
    margin-left: .75rem;
}
.margin_left_100rem{
    margin-left: 1rem;
}
.margin_left_125rem{
    margin-left: 1.25rem;
}
.margin_left_150rem{
    margin-left: 1.5rem;
}
.margin_left_175rem{
    margin-left: 1.75rem;
}
.margin_left_200rem{
    margin-left: 2rem;
}
.margin_left_225rem{
    margin-left: 2.25rem;
}
.margin_left_250rem{
    margin-left: 2.5rem;
}
.margin_left_275rem{
    margin-left: 2.75rem;
}
.margin_left_300rem{
    margin-left: 3rem;
}


/*边距 right*/
.margin_right_25rem{
    margin-right: .25rem;
}
.margin_right_50rem{
    margin-right: .5rem;
}
.margin_right_75rem{
    margin-right: .75rem;
}
.margin_right_100rem{
    margin-right: 1rem;
}
.margin_right_125rem{
    margin-right: 1.25rem;
}
.margin_right_150rem{
    margin-right: 1.5rem;
}
.margin_right_175rem{
    margin-right: 1.75rem;
}
.margin_right_200rem{
    margin-right: 2rem;
}
.margin_right_225rem{
    margin-right: 2.25rem;
}
.margin_right_250rem{
    margin-right: 2.5rem;
}
.margin_right_275rem{
    margin-right: 2.75rem;
}
.margin_right_300rem{
    margin-right: 3rem;
}
/*边距 bottom*/
.margin_bottom_25rem{
    margin-bottom: .25rem;
}
.margin_bottom_50rem{
    margin-bottom: .5rem;
}
.margin_bottom_75rem{
    margin-bottom: .75rem;
}
.margin_bottom_100rem{
    margin-bottom: 1rem;
}
.margin_bottom_125rem{
    margin-bottom: 1.25rem;
}
.margin_bottom_150rem{
    margin-bottom: 1.5rem;
}
.margin_bottom_175rem{
    margin-bottom: 1.75rem;
}
.margin_bottom_200rem{
    margin-bottom: 2rem;
}
.margin_bottom_225rem{
    margin-bottom: 2.25rem;
}
.margin_bottom_250rem{
    margin-bottom: 2.5rem;
}
.margin_bottom_275rem{
    margin-bottom: 2.75rem;
}
.margin_bottom_300rem{
    margin-bottom: 3rem;
}
